{% extends "user/user.html.twig" %}

{% block main %}
<div class="row">
					<div class="col-lg-12">
						<div class="card rounded">
							<div
								class="card-body py-2">
								<!-- Table with stripped rows -->
								<table class="table datatable" id="routetabel">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">Mode</th>
											<th scope="col">From</th>
											<th scope="col">To</th>
											<th scope="col">Duration</th>
											<th scope="col">Price</th>
										</tr>
									</thead>
									<tbody>
										{% for route in routes %}
											<tr>
												<th scope="row">{{ route.id }}</th>
												<td>
													<a href="{{ path('app_user_routes_show', {'id': route.id}) }}">
														<span class="pe-2">{{ route.name }}</span>
														{% if route.status == "closed"%}
															<span class="badge bg-danger text-white">Hors Service</span>
														{% elseif route.status == "under_construction"%}
															<span class="badge bg-warning  text-white">En Construction</span>
														{% else %}
															<span class="badge bg-success text-white">En Service</span>
														{% endif %}
													</a>
												</td>
												<td>{{ route.mode }}</td>
												<td>{{ route.startstationid.name }}</td>
												<td>{{ route.endstationid.name }}</td>
												<td>{{ route.routeduration|date('H:i:s') }}</td>
												<td>
													<div style="position: relative; display: inline-block; padding-right: 2em;">
														<span class="price-value">{{ route.fare }}</span>
														<span style="position: absolute; top: 0; right: 0; font-size: smaller;" class="text-secondary">DNT</span>
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
{% endblock %}